@import '../../styles/mixins/button.scss';
@import '../../styles/variable/colors.scss';
@import '../../styles/variable/fonts.scss';
@import '../../styles/variable/abstract.scss';

.button {
        &--primary {
            @include button(
                15rem, 
                4rem, 
                $primary-color, 
                $white-color, 
                $primary-shadow-box, 
                $primary-font, 
                $medium-font
            )
        }
        &--secondary {
            border-radius: 50%;
            background: linear-gradient(90deg, #E69FE8 2.44%, #F391F5 45.96%, #8D79DF 96.34%);
            box-shadow: 0px 2.53614px 2.53614px rgba(0, 0, 0, 0.25);
            color: #FFF;
            border: none;
            height: 4rem;
            width: 4rem;
            outline: none;
            cursor: pointer;
        }
        &--tertiary {
            @include button(
                7rem,
                4rem,
                $primary-color, 
                $white-color, 
                $primary-shadow-box, 
                $primary-font, 
                $medium-font
            )
            background: linear-gradient(90deg, #E69FE8 2.44%, #F391F5 45.96%, #8D79DF 96.34%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2rem;
            transform: translateX(-2.8rem)
        }
        &--success {

        }
        &--failed {

        }
}