@import '../../../styles/variable/colors.scss';
@import '../../../styles/variable/fonts.scss';
@import '../../../styles/variable/abstract.scss';
@import '../../../styles/variable/borders.scss';

.form {
    &--primary {
      position: relative;
      width: 40rem;
      height: 45rem;
      border-radius: $small-border-radius;
      box-shadow: -3px 1px 24px 7px $white-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, #E69FE8 2.44%, #F391F5 45.96%, #8D79DF 96.34%);
    }
};

.remove-icon {
  position: absolute;
  top: 3%;
  left: 92%;
}