@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans&family=Quicksand:wght@300&display=swap');  

$primary-font: 'Dancing Script';

$small-font: 1.6rem;
$medium-font: 2.3rem;
$big-font: 3rem;