.header--primary {
    height: 5rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: .5;
    background: linear-gradient(
    269.51deg
, rgba(63, 15, 254, 0.51) 18.54%, rgba(210, 41, 238, 0.51) 76.9%);
    color: #FFF;
    border-radius: 1rem 1rem 0em 0rem;
}