@import '../../styles/mixins/abstract.scss';

.client-visits {
    box-shadow: 0px 6.6px 6.6px rgba(0, 0, 0, 0.25);
}

.client-image {
    width: 5rem;
    height: 5rem;
}

.client-detail {
    height: 700px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.client-details-ul {
    list-style:none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.client-details-p {
    line-height: 2;
}

.client-visit {
    box-shadow: 0px 6.6px 6.6px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
    width: 80%;
    height: 4rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
}

.gallery-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
};

.gallery-hide {
    display: none;
}


.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #FFF;
};

.image-return {
    align-self: flex-end;
};

.gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
};

.image {
    width: 100%;
    height: 700px;
    background-size: cover;
}

.client-button-delete {
    position: absolute;
    top: 28%;
    right: 6%;
}